@font-face {
	font-family: "Exo2-Medium";
	src: url("../fonts/Exo2-Medium.otf")
}






.logo{
	width: auto;
	margin: 10px;

	padding-bottom: 0px;
		padding-top: 0px;
	
	
	border-radius: 5px;
	


	 border-color: white; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    border-width: 1px;
	background-color: black;
	color: white;
}



*{
	margin: 0;
	padding: 0;
	
}
body{
	background: url("https://darknet.works/uploads/set_resources_2/d0e70b4cbb9ab8afb1bc1065a3f8487a_background_bz_-01.png");  no-repeat;
	background-attachment: fixed;
   margin: 0;  

    
 background-size: cover;
}










.rbox {
    float: right;
    width: auto;
    height: auto;
  
    
    margin-top: 5px;
    border-radius: 5px;
	margin-right:  15px;
transform: translate(0px,-100px);


	 border-color: white; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    border-width: 1px;
	background-color: #353c41;
	color: white;
	

    
	
}

.cbox{
	width: auto;
	margin: 10px;

	
	
	border-radius: 5px;
	


	 border-color: white; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    border-width: 1px;
	background-color: #353c41;
	color: white;
	text-align: center;





}