@font-face {
	font-family: "Exo2-Medium";
	src: url("../fonts/Exo2-Medium.otf")
}










*{
	margin: 0;
	padding: 0;
	
}
body{
	background: url("https://darknet.works/uploads/set_resources_2/d0e70b4cbb9ab8afb1bc1065a3f8487a_background_bz_-01.png");  no-repeat;
	background-attachment: fixed;
   margin: 0;  

    
 background-size: cover;
}










.rbox {
    float: right;
    width: auto;
    height: auto;
  
    
    margin-top: 50px;
    border-radius: 5px;
	margin-right:  50px;



	 border-color: white; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    border-width: 1px;
	background-color: #353c41;
	color: white;
	

    
	
}

.cbox{
	width: 1000px;
	margin: 50px;
	height: auto;
	margin-top: 50px;
	border-radius: 5px;
	


	 border-color: white; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    border-width: 1px;
	background-color: #353c41;
	color: white;
	text-align: center;





}