.fig { text-align: center; /* Выравнивание по центру */ }
.button_1619822807094 {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #eaeaea !important;
    color: #006089 !important;
    border: 2px solid #006089 !important;
    border-radius: 20px !important;
    font-size: 16px !important;
    padding: 25px 50px !important;  !important;
}
.button_1619822807094:hover{
    text-decoration: none !important; 
}
.post {
		 text-align: center; 
		 color: red	
}
.poster
{
		 text-align: center; /* Выравнивание по центру */ 
		 	
}
.postinfo {
				font-size: 5pt;
				color: #808080;
	margin-top: 8px;
    font-size: 12px;
}
.posterblock{
				
}

			
A {
    color: green; /* Цвет текста */


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #999;
    width: 100%;
  }
}
