body{
background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyQaKVS5QDiCrZHO1hntygCuhcAHFj6F_1eg&usqp=CAU)no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }



.shiny-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 14.25px;
  background-color: #D100D1;
  background-image: -webkit-linear-gradient(top, #d600d6 0%, #e119e1 48%, #D100D1 49%, #D100D1 82%, #ed00ed 100%);
  background-image: -moz-linear-gradient(top, #d600d6 0%, #e119e1 48%, #D100D1 49%, #D100D1 82%, #ed00ed 100%);
  background-image: -o-linear-gradient(top, #d600d6 0%, #e119e1 48%, #D100D1 49%, #D100D1 82%, #ed00ed 100%);
  background-image: linear-gradient(top, #d600d6 0%, #e119e1 48%, #D100D1 49%, #D100D1 82%, #ed00ed 100%);
  border-color: hsl(300, 40%, 41%);
  -webkit-box-shadow: inset 0 0 1px 1px #ff1eff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #ff1eff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #ff1eff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #6b006b;
  -moz-text-shadow: 1px 1px 1px #6b006b;
  -o-text-shadow: 1px 1px 1px #6b006b;
  text-shadow: 1px 1px 1px #6b006b;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  padding: 12px 30px 12px 30px;
}

.shiny-button strong {
  letter-spacing: 1px;
  font-size: 22.25px;
}

.shiny-button:hover {
  color: #FFFFFF;
  background-color: #e000e0;
  background-image: -webkit-linear-gradient(top, #e500e5 0%, #e622e6 48%, #e000e0 49%, #e000e0 82%, #fc00fc 100%);
  background-image: -moz-linear-gradient(top, #e500e5 0%, #e622e6 48%, #e000e0 49%, #e000e0 82%, #fc00fc 100%);
  background-image: -o-linear-gradient(top, #e500e5 0%, #e622e6 48%, #e000e0 49%, #e000e0 82%, #fc00fc 100%);
  background-image: linear-gradient(top, #e500e5 0%, #e622e6 48%, #e000e0 49%, #e000e0 82%, #fc00fc 100%);
  border-color: hsl(300, 41%, 44%);
  -webkit-box-shadow: inset 0 0 1px 1px #ff28ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #ff28ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #ff28ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #7a007a;
  -moz-text-shadow: 1px 1px 1px #7a007a;
  -o-text-shadow: 1px 1px 1px #7a007a;
  text-shadow: 1px 1px 1px #7a007a;
}

.shiny-button:active {
  color: #FFFFFF;
  background-color: #c200c2;
  background-image: -webkit-linear-gradient(top, #b800b8 0%, #D100D1 100%);
  background-image: -moz-linear-gradient(top, #b800b8 0%, #D100D1 100%);
  background-image: -o-linear-gradient(top, #b800b8 0%, #D100D1 100%);
  background-image: linear-gradient(top, #b800b8 0%, #D100D1 100%);
  padding: 13px 30px 11px 30px;
}





#block1 {
float: left;
display: block;
width: 300px;
border: 0px solid blue;
margin: 2px;
}

#block2 {
float: left;
display: block;
width: 300px;
border: 0px solid blue;
margin: 2px;
}















	