body {
	background-color: #222226;
	color: white;
}
.timer {
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-top:25px;
}
.block{
	background-color: #333336;
	width: 350px;
	height: auto;
border: 3px solid #8E8E8F;
border-radius: 15px 15px 15px 15px;
text-align: center;	
position: center;
margin: auto;
}
.iksweb{
	display: inline-block;
	cursor: pointer; 
	font-size:14px;
	text-decoration:none;
	padding:17px 36px; 
	color:#ffffff;
	background:#333336;
	border: 3px solid #8E8E8F;
	border-radius: 15px 15px 15px 15px;
	font-size: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;	
	position: center;
	margin: auto;
}
.block2{
	background-color: #333336;
	width: 450px;
	height: auto;
border: 3px solid #8E8E8F;
border-radius: 15px 15px 15px 15px;
text-align: center;	
position: center;
margin: auto;
}

.block_info{
	background-color: #333336;
	width: 450px;
	height: auto;
border: 3px solid #8E8E8F;
border-radius: 15px 15px 15px 15px;
text-align: center;	
position: center;
margin: auto;
}

p{
	font-size: 30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h3{
	font-size: 20px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h4{
	font-size: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h5{
	font-size: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: yellow;
}

.iksweb1{
	display: inline-block;
	cursor: pointer; 
	
	text-decoration:none;
	padding:10px 20px; 
	color:#ffffff;
	background:#333336;
	border: 3px solid #8E8E8F;
	border-radius: 15px 15px 15px 15px;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;	
	position: center;
	margin: auto;
}