body { font-family: 'Exo 2' !important; }
h1, h2, h3, h4 { color: white; font-weight: normal;}
#vid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
#main {
    flex-wrap: wrap;
    transition: margin-left 0s ease-in-out, width 0s ease-in-out;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0.3em;
    background-color: rgba(24, 24, 24, 0.7);
}
iframe {
    pointer-events: none;
}
.link{
    width:70px;
    height:70px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
.telegram{
    background:url('img/tg.png') repeat 0px 0px;
    background-size: cover;
}
.telegram:hover{
    background:url('img/tg_hover.png') repeat 0px 0px;
    background-size: cover;
}
.github{
    background:url('img/cgithub.png') no-repeat 0px 0px;
    background-size: cover;
}
.github:hover{
    background:url('img/cgithub.png') no-repeat -70px 0px;
    background-size: cover;
}
.vk{
    background:url('img/cvk.png') no-repeat 0px 0px;
    background-size: cover;
}
.vk:hover{
    background:url('img/cvk.png') no-repeat -70px 0px;
    background-size: cover;
}
.links{
    position: fixed;
    padding: 0.5em;
    transform: translate(-50%, -50%);
}
.tcontainer{
    position: fixed;
    transform: translate(-50%, -50%);
}
.maintext{
    text-align: center;
    font-size: 60px;
    margin-top: -120px;
    color: white;
    font-weight: bold;
    -webkit-user-select: none;     
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.playbutton{
    /*color: #2ecc71;*/
    transition: 600ms;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.playbutton:hover{
    color: white;
    transition: 600ms;
}
.text{
    transition: 600ms;
}
.text:hover{
    color: white;
    transition: 600ms;
}
#maincontainer{
    opacity: 0;
    display: none;
    top: 55%;
        left: 50%;
}
.YTPOverlay{
    background: rgba(0, 0, 0, 0.1) url(img/pattern.png);
}

.rainbow-animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 10s ease-in infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}